*{
    background-color: #131313;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    
    
}

  
  .home {
    display: flex;
    flex-direction: column;
    text-align: center;
}

  .hero {
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 75px;
    margin-bottom: 20px;
}


  .first{
    font-size: 60px;
    background-image: -webkit-linear-gradient(top, #fff 60%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    padding-bottom: 2px;

  }
  .second{
    font-size: 60px;
    background-image: -webkit-linear-gradient(top, #fff 10%, #F7CA18
    100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;

  }
  p {
    background-image: -webkit-linear-gradient(top, #fff 60%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    font-size: 18px;
}

  @media only screen and (max-width: 768px) {
    .hero {
        font-size: 50px;
    }

    .first,
    .second {
        font-size: 40px;
    }

    
    
        
}

@media only screen and (max-width: 768px) {
    .hero p{
        padding-left: 30px;
        padding-right: 30px;
    }
}
h1{
    font-size: 25px;
    background-image: -webkit-linear-gradient(top, #fff 80%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    padding-bottom: 2px;
 
}

.about-container {
    gap: 0px;
    display: flex;
    flex-direction: column;
}
.about-title{
  padding-left: 50px;
}

.about-description {
    font-size: 18px;
    line-height: 1.6;
    padding-left: 50px;
    padding-right: 50px;
}

.skills-title{
    padding-left: 50px;
}
.skills-wrapper {
    padding-top: 20px;
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
}
.skills-wrapper span {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #333333;
    background-color: #232323;
    box-shadow: 0 2px 3px #0000003d;
    color: white;
}

.skills-req {
    padding-top: 20px;
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding-left: 50px;
    
    
}

.skills-req span {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #333333;
    background-color: #232323;
    box-shadow: 0 2px 3px #0000003d;
    color: white;
}

.exp-title{
    padding-top: 20px;
    padding-left: 50px;
}

.exp-dates{
    padding-left: 50px;
    color: white;
    padding-top: 20px;
}
.about-exp-title{
    padding-left: 50px;
    background-image: -webkit-linear-gradient(top, #fff 80%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
}
.exp-1{
    padding-left: 300px;
}

.description{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 50px;
    padding-right: 50px;
}



@media screen and (max-width: 600px) {
    .exp-1 {
        padding-left: 0; /* Adjust the padding for smaller screens */
        text-align: center; /* Center the content */
    }

    .description {
        padding-left: 50px;
        padding-right: 50px;
        text-align: left;
    }

    .about-exp-title{
        text-align: center;
        align-self: center;
        padding: 0px;
    }
    
}





.skills-req span{
    border: 0.05px solid greenyellow;
    font-family: sans-serif;
    padding: 5px;
    background-color: #1f1f1f;
    color: greenyellow;
    font-size: 15px; /* Corrected: add 'px' to font-size */
    font-weight: 300;
}
@media screen and (max-width: 600px) {
    .skills-req {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center-aligns the .skills-req container */
        align-items: center; /* Center-aligns the items vertically */
        padding-right: 55px;
    }

    .skills-req span {
        margin: 5px; /* Adjust the margin for spacing between elements */
        
    }
}
.projects-container {
    gap: 20px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.projects-headline {
    font-size: 25px;
    font-weight: 400;
    padding: 50px;
    background-image: -webkit-linear-gradient(top, #fff 80%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    padding-bottom: 2px;
}

.projects-wrapper {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    padding-left: 150px;
    padding-right: 150px;
}

.projects-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center content horizontally */
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
    transition: border .2s ease;
    font-size: 14px;
    height: 150px;
    background-color: #1c1c1c;
    box-shadow: 0 2px 3px #0000003d;
}

.project-details {
    margin-bottom: 20px;
    text-align: center; /* Center content horizontally */
}

.projects-card-gradient {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(100% 100% at 0% 0%, hsla(0, 0%, 100%, 0.03), transparent);
    transition: all 0.1s ease-in;
}

.projects-card-links {
    gap: 30px;
    display: flex;
    align-self: flex-end;
}

.projects-card-name {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0; /* Remove margin to prevent extra space */
    background-image: -webkit-linear-gradient(top, #fff 80%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    padding-bottom: 2px;
    text-decoration: none;
    color: inherit;
}

.projects-card-languages {
    display: flex;
    align-self: center;
    gap: 15px;
}


.projects-card-languages span {
   
    font-size: 15px; /* Corrected: add 'px' to font-size */
    font-weight: 300;
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif;
    padding-bottom: 2px;
    border: 0.05px solid greenyellow;
    font-family: sans-serif;
    padding: 5px;
    background-color: #1f1f1f;
    color: greenyellow;
    
}

@media only screen and (max-width: 600px) {
    .projects-wrapper {
        grid-template-columns: 1fr; /* Change to a single column for mobile */
        padding-left: 20px; /* Adjust padding for mobile */
        padding-right: 20px; /* Adjust padding for mobile */
    }

    .projects-card-links {
        align-self: center;
        justify-content: center; /* Center links for mobile */
    }
}
.blogs-container {
    gap: 20px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.blogs-headline {
    font-size: 25px;
    font-weight: 400;
    padding: 50px;
    background-image: -webkit-linear-gradient(top, #fff 80%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    padding-bottom: 2px;
}

.blogs-wrapper {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    padding-left: 150px;
    padding-right: 150px;
    align-items: start;
   
   
}
.blogs-card-wrapper-minutes {
    gap: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.blogs-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom:0px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
    transition: border .2s ease;
    font-size: 14px;
    height: 150px;
    background-color: #1c1c1c;
    box-shadow: 0 2px 3px #0000003d;
    text-align: left; /* Align text to the left */
}



.blogs-details {
    margin-bottom: 20px;
    text-align: center; /* Center content horizontally */
}

.blogs-card-gradient {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(100% 100% at 0% 0%, hsla(0, 0%, 100%, 0.03), transparent);
    transition: all 0.1s ease-in;
}

.blogs-card-links {
    gap: 30px;
    display: flex;
    align-self: flex-end;
}

.blogs-card-name {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0; /* Remove margin to prevent extra space */
    background-image: -webkit-linear-gradient(top, #fff 80%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    padding-bottom: 2px;
    text-decoration: none;
    color: inherit;
}


.blogs-card-languages {
    display: flex;
    align-self: center;
    gap: 15px;
}


.blogs-card-languages span {
   
    font-size: 15px; /* Corrected: add 'px' to font-size */
    font-weight: 300;
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif;
    padding-bottom: 2px;
    border: 0.05px solid greenyellow;
    font-family: sans-serif;
    padding: 5px;
    background-color: #1f1f1f;
    color: greenyellow;
    
}

@media only screen and (max-width: 600px) {
    .blogs-wrapper {
        grid-template-columns: 1fr; /* Change to a single column for mobile */
        padding-left: 20px; /* Adjust padding for mobile */
        padding-right: 20px; /* Adjust padding for mobile */
    }

    .blogs-card-links {
        align-self: center;
        justify-content: center; /* Center links for mobile */
    }
}

.blogs-card p{
    font-size: 15px;


}
.footer-social a {
    text-decoration: none;
    color: inherit;
}

.footer-social a:hover {
    color: #F7CA18; /* Specify the desired hover color */
}
.footer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 30px 0;
    border-top: 1px solid #2d2d2d;
    margin-top: 30px;
}

.footer-social {
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.footer-social a {
    text-decoration: none;
    color: white;
}

.footer-social a:hover {
    color: your-hover-color; /* Specify the desired hover color */
}
::selection {
    background-color: yellow;
    text-shadow: 0 0 1px black;
    color: black;
    opacity: 1; /* Set the text color to contrast with the background */
}
.footer span{
    color: white;
}
.footer {
    font-size: 12px;
}
.nav-links-filled{
    padding: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 50px;
    font-size: 20px;
}
li{
    list-style: none;
    background: transparent;
}
a{
    text-decoration: none;
    color: #c9c9c9;
    background: transparent;
}
a:hover{
    background-color: #3e3e3e;
    padding: 10px;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Media Queries */
@media screen and (max-width: 768px) {
    .nav-links-filled {
      padding: 10px;
      font-size: 15px;
      padding-left: 20px;
      padding-right: 20px;
      scale: 0.8;
    }
    a:hover{
        padding: 5px; /* Decrease the padding */
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px; /* Adjust border-radius as needed */
    }
  }